.genereal {
    background-image: linear-gradient(to bottom right, rgba(206, 195, 132, 0.377), rgba(255, 245, 196, 0.8)), url('https://images7.alphacoders.com/368/368326.jpg');
    background-size: cover;
  }
  
  .hotel {
    display: grid;
    grid-template-areas:
      "nombre direccion"
      "ciudad descripcion"
      "estrellas precio"
      "habi aminities"
      "botonS aminities";
    gap: 10px; 
  }
  
  .nombre,
  .direccion,
  .ciudad,
  .descripcion,
  .aminities,
  .estellas,
  .precio,
  .habi{
    
    background-color: rgba(255, 255, 255, 0.772);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: rgb(94, 42, 2);
  }
  
  .nombre { grid-area: nombre; }
  .direccion { grid-area: direccion; }
  .ciudad { grid-area: ciudad; }
  .descripcion { grid-area: descripcion; }
  .aminities { grid-area: aminities; }
  .estellas{grid-area: estrellas;}
  .precio{grid-area: precio;}
  .habi{grid-area: habi;}
  
  .botonS{
    margin-left: 25%;
    margin-top: 15px;
    grid-area: botonS;
    cursor:pointer;}