body {

  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(to bottom right, rgba(206, 195, 132, 0.377), rgba(255, 245, 196, 0.8)), url('https://images7.alphacoders.com/368/368326.jpg');
  background-size: cover;
  z-index: -1;
}

.reservas {
font-family: Arial, sans-serif;
max-width: 1000px;
margin: 20px auto;
padding: 20px;
}

.reservas h1 {
text-align: center;
color: #333;
}

table {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
}

th, td {
text-align: left;
padding: 8px;
border-bottom: 1px solid #ddd;
}

th {
background-color:  #f5a835;
color: white;
}

tr:nth-child(even) {
background-color: #f2f2f2;
}

td {
color: #666;
}

p {
text-align: center;
}