
.home-container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.menu_titulo h1, .nombre_hotel, .hotel_descripcion, .hotel_fechas, .hotel_caracteristica {
  margin-bottom: 20px;
}

/* Título de la reserva */
.menu_titulo h1 {
  color: #333;
  text-align: center;
}

/* Nombre del hotel */
.nombre_hotel {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

/* Descripción del hotel */
.hotel_descripcion p {
  text-align: justify;
  color: #666;
}

/* Estilos para las características del hotel */
.hotel_caracteristica ul {
  list-style: none;
  padding: 0;
}

.hotel_caracteristica li {
  background-color: #f1f1f1;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

/* Estilos para el formulario */
#formLogin {
  display: flex;
  flex-direction: column;
}

#formLogin > * {
  margin: 10px 0;
}




/* Estilo para mostrar mensajes de error */
p[style='color: red;'] {
  text-align: center;
  color: #333;
}


